<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
    <!-- wp:group {"tagName":"header","layout":{"inherit":true,"type":"constrained"},"className":"wp-block-post-header"} -->
    <header class="wp-block-group wp-block-post-header">
        <!-- wp:heading {"level":1} -->
        <h1>Page not found</h1>
        <!-- /wp:heading -->
        <!-- wp:paragraph {"className":"has-medium-font-size"} -->
        <p class="has-medium-font-size">Unfortunately, we can't find the page you're looking for.</p>
        <!-- /wp:paragraph -->
    </header>
    <!-- /wp:group -->

    <!-- wp:group {"layout":{"inherit":true}} -->
    <div class="wp-block-group">
        <!-- wp:paragraph -->
        <p>The page you're after may have been removed or it may never have existed in the first place. The good news is, we've put together this short guide to help get you back on track.</p>
        <!-- /wp:paragraph -->
        <!-- wp:paragraph -->
        <p><strong>Try the following steps:</strong></p>
        <!-- /wp:paragraph -->
        <!-- wp:list {"ordered":true} -->
        <ol>
            <!-- wp:list-item -->
            <li><a href="#check-spelling">Double-check your spelling</a></li>
            <!-- /wp:list-item -->
            
            <!-- wp:list-item -->
            <li><a href="#search-site">Search our site</a></li>
            <!-- /wp:list-item -->
            
            <!-- wp:list-item -->
            <li><a href="#get-in-touch">Get in touch with us</a></li>
            <!-- /wp:list-item -->
        </ol>
        <!-- /wp:list -->

        <!-- wp:group {"layout":{"inherit":true}} -->
        <div class="wp-block-group">
            <!-- wp:heading {"level":2} -->
            <h2 id="check-spelling">Double-check your spelling</h2>
            <!-- /wp:heading -->
            <!-- wp:paragraph -->
            <p>When typing web addresses, spelling, punctuation and capitalisation are important. <strong>Double-check that what you typed into your web browser address bar is correct</strong> -- it's still up there, so you won't need to type the whole thing again!</p>
            <!-- /wp:paragraph -->
            <!-- wp:paragraph -->
            <p>If you didn't type it yourself perhaps you clicked a link to our site from elsewhere on the web? If so, please <strong><a href="#get-in-touch" data-type="internal" data-id="#get-in-touch">send us the link you followed</a></strong> and let us know which website you came from so that we can get it fixed. Thank you!</p>
            <!-- /wp:paragraph -->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"layout":{"inherit":true}} -->
        <div class="wp-block-group">
            <!-- wp:heading {"level":2} -->
            <h2 id="search-site">Search our site</h2>
            <!-- /wp:heading -->
            <!-- wp:paragraph -->
            <p>Try entering one or two words that describe what you are looking for into the box below:</p>
            <!-- /wp:paragraph -->
            
            <!-- wp:template-part {"slug":"search-box"} /-->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"layout":{"inherit":true}} -->
        <div class="wp-block-group">
            <!-- wp:heading {"level":2} -->
            <h2 id="get-in-touch">Get in touch with us</h2>
            <!-- /wp:heading -->
            <!-- wp:paragraph -->
            <p>Sometimes, it's just easier to speak to a human being. You can reach us in the following ways:</p>
            <!-- /wp:paragraph -->
            <!-- wp:list {"className":"is-style-list-unstyled"} -->
            <ul class="is-style-list-unstyled">
                <!-- wp:list-item -->
                <li>Phone: <strong><a href="tel:+441603516377">(+44) 01603 516 377</a></strong></li>
                <!-- /wp:list-item -->
                <!-- wp:list-item -->
                <li>Email: <a href="mailto:hello@eggcupweb.com">hello@eggcupweb.com</a></li>
                <!-- /wp:list-item -->
            </ul>
            <!-- /wp:list -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
