<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
    <!-- wp:group {"tagName":"header","layout":{"inherit":true,"type":"constrained"},"className":"wp-block-post-header"} -->
    <header class="wp-block-group wp-block-post-header">
        <!-- wp:query-title {"level":1,"type":"archive","align":"wide"} /-->
        <!-- wp:term-description {"align":"wide"} /-->
    </header>
    <!-- /wp:group -->

    <!-- wp:query -->
    <div class="wp-block-query">
        <!-- wp:post-template -->
            <!-- wp:group {"layout":{"inherit":true}} -->
            <div class="wp-block-group">

                <!-- wp:post-title {"align":"wide"} /-->
                <!-- wp:template-part {"slug":"post-meta","align":"wide"} /-->
                <!-- wp:post-featured-image {"align":"wide"} /-->

                <!-- wp:post-excerpt {"moreText":"Read more"} /-->
                <!-- wp:template-part {"slug":"post-terms"} /-->
            </div>
            <!-- /wp:group -->
        <!-- /wp:post-template -->

        <!-- wp:template-part {"slug":"query-pagination","align":"wide"} /-->
    </div>
    <!-- /wp:query -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
