<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0">
    <!-- wp:group {"tagName":"header","align":"wide","layout":{"type":"default"}} -->
    <header class="wp-block-group alignwide">
        <!-- wp:heading {"level":1} -->
        <h1 class="wp-block-heading">News</h1>
        <!-- /wp:heading -->
        <!-- wp:paragraph {"fontSize":"normal"} -->
        <p class="has-normal-font-size">Latest updates and developments</p>
        <!-- /wp:paragraph -->
    </header>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"query"} /-->
    <!-- wp:template-part {"slug":"query-pagination"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->