<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
    <!-- wp:group {"tagName":"header","layout":{"inherit":true,"type":"constrained"},"className":"wp-block-post-header"} -->
    <header class="wp-block-group wp-block-post-header">
        <!-- wp:heading {"level":1} -->
        <h1>Search</h1>
        <!-- /wp:heading -->
        <!-- wp:paragraph {"className":"has-medium-font-size"} -->
        <p class="has-medium-font-size">We found the following results for your search:</p>
        <!-- /wp:paragraph -->
    </header>
    <!-- /wp:group -->

    <!-- wp:query -->
    <div class="wp-block-query">
        <!-- wp:group {"layout":{"inherit":true}} -->
        <div class="wp-block-group">
            <!-- wp:post-template {"align":"wide"} -->
            <!-- wp:group {"layout":{"inherit":true}} -->
            <div class="wp-block-group">
                <!-- wp:post-title /-->
                <!-- wp:template-part {"slug":"post-meta"} /-->
                <!-- wp:post-featured-image {"align":"wide"} /-->

                <!-- wp:post-excerpt {"moreText":"Read more&hellip;"} /-->
                <!-- wp:template-part {"slug":"post-terms"} /-->
            </div>
            <!-- /wp:group -->
            <!-- /wp:post-template -->

            <!-- wp:template-part {"slug":"query-pagination"} /-->

            <!-- wp:query-no-results {"align":"wide"} -->
                <!-- wp:group {"layout":{"inherit":true}} -->
                <div class="wp-block-group">
                    <!-- wp:heading {"level":2} -->
                    <h2>No results found</h2>
                    <!-- /wp:heading -->

                    <!-- wp:paragraph {"className":"has-medium-font-size"} -->
                    <p class="has-medium-font-size">Unfortunately we couldn't find anything to match what you searched for.</p>
                    <!-- /wp:paragraph -->

                    <!-- wp:paragraph -->
                    <p>Please try again with one or two different words that describe what you are looking for.</p>
                    <!-- /wp:paragraph -->
                </div>
                <!-- /wp:group -->
            <!-- /wp:query-no-results -->

            <!-- wp:group {"layout":{"inherit":true}} -->
            <div class="wp-block-group">
                <!-- wp:heading {"level":3} -->
                <h3>Can't find what you're looking for?</h3>
                <!-- /wp:heading -->
                <!-- wp:paragraph {"className":"has-medium-font-size"} -->
                <p class="has-medium-font-size">Try searching again with one or two different words that describe what you are looking for.</p>
                <!-- /wp:paragraph -->

                <!-- wp:search {"label":"Search our site:","buttonText":"Search","backgroundColor":"secondary","textColor":"background"} /-->
            </div>
            <!-- /wp:group -->

        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:query -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
