<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"}}}} -->
<main class="wp-block-group" style="margin-top:0">
    <!-- wp:cover {"useFeaturedImage":true,"dimRatio":40,"overlayColor":"brand-contrast","className":"is-style-default"} -->
    <div class="wp-block-cover is-style-default"><span aria-hidden="true"
            class="wp-block-cover__background has-brand-contrast-background-color has-background-dim-40 has-background-dim"></span>
        <div class="wp-block-cover__inner-container">
            <!-- wp:group {"tagName":"header","className":"wp-block-post-header has-brand-base-color has-background","layout":{"inherit":true,"type":"constrained"}} -->
            <header class="wp-block-group wp-block-post-header has-brand-base-color has-background">
                <!-- wp:post-title {"level":1,"align":"wide"} /-->

                <!-- wp:template-part {"slug":"post-meta","area":"uncategorized","align":"wide"} /-->
            </header>
            <!-- /wp:group -->
        </div>
    </div>
    <!-- /wp:cover -->

    <!-- wp:post-content {"layout":{"inherit":true}} /-->

    <!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:template-part {"slug":"post-terms"} /--></div>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"author-box","area":"uncategorized"} /-->

    <!-- wp:template-part {"slug":"post-navigation","area":"uncategorized"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->